.card {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    opacity: 1;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for elevation */
    background-color: #e9f1f7; /* Set the background color (light gray in this example) */
    padding: 1.5%;
    z-index: 1000;
  }